.App-header {
  background-color: #a51c24;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body {
  background-color: #fdfdfd;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:rgb(3, 2, 2);
}
.btn1{
margin-right: 100px;
  width: 100px;
  height: 50px;
  color:hsl(240, 40%, 94%);
  background-color: rgb(59, 59, 242);
  }
  .btn2{
margin-right: 100px;
    width:100px;
    height:50px;
    color:hsl(0, 33%, 1%);
    background-color: rgb(129, 240, 95);
    }
    .btn3{
margin-right: 100px;
      width:100px;
      height:50px;
      color:hsl(240, 40%, 94%);
      background-color: rgb(237, 89, 78);
      }
      .btn4{
margin-right: 100px;
        width:100px;
        height:50px;
        color:hsl(240, 40%, 94%);
        background-color: rgb(242, 59, 59);
        }

